<?xml version="1.0" encoding="utf-8"?>
<ServerController name="ServerController" enabled="1" port="8080" address="0.0.0.0" root="C:\Users\bencz\OneDrive\Documents\Resolume Arena\Webserver">
	<versionInfo name="Resolume Arena" majorVersion="7" minorVersion="23" microVersion="2" revision="51094"/>
</ServerController>

